<!DOCTYPE html>
<html>
  <head>
    <title>Wiseexpense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .field_with_errors{
        display: inline;
      }
      .active_expense_chart {
        
      }
    </style>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <div class="alert alert-primary alert-dismissible fade show <%= 'alert-warning' if name == 'alert' %>" role="alert">
        <strong><%= message %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= render 'shared/main_navbar' %>

    <%= yield %>
  </body>
</html>
